@font-face {
    font-family: 'Druzhok';
    src: url("fonts/DRUZHOK.otf");
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Druzhok", sans-serif;
    margin: 0;
}

header {
    background-color: #fff;
    color: #000;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-left, #logo-right {
    max-width: 50px;
    margin: 0 10px;
}

section {
    margin: 20px;
}

.pokecar-container {
    text-align: center;
    position: relative;
}

.pokecar-image {
    max-width: 100%; /* Pour rendre l'image responsive */
    opacity: 0.1;
}

.pokecar-text {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    @media (min-width: 768px) {
        font-size: 30px; /* Taille maximale de la police pour les écrans plus larges */
    }
    @media (min-width: 1024px) {
        font-size: 40px; /* Taille maximale de la police pour les écrans encore plus larges */
    }
    
}
