/* Déclaration de la police personnalisée */
@font-face {
    font-family: 'Druzhok';
    src: url("fonts/DRUZHOK.otf");
}

/* Style global pour le corps de la page */
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour la section de défilement des images en plein écran */
.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: scrollImages 30s linear infinite;
}

/* Styles pour les images de fond */
.background-image {
    display: flex;
    overflow: hidden;
    position: relative;
}

/* Animation de défilement des images de fond */
@keyframes scrollImages {
    0%, 100% {
        transform: translateX(0%);
    }
    12.50%, 25.00% {
        transform: translateX(-100%);
    }
    37.50%, 50.00% {
        transform: translateX(-200%);
    }
    62.50%, 75.00% {
        transform: translateX(-100%);
    }
    87.50%, 99.999% {
        transform: translateX(0%);
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour l'en-tête contenant le logo, le titre principal et la flèche de défilement */
header {
    position: absolute;
    text-align: center;
    z-index: 1;
}

/* Style du logo */
#logo {
    width: 10%;
    height: 10%;
    height: auto;
    margin-top: 20%;
}

/* Style du titre principal */
h1 {
    color: #fff;
    font-family: "Druzhok", sans-serif;
    font-size: 300%;
}

/* Style de la flèche de défilement */
.scroll-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Druzhok", sans-serif;
    font-size: 150%;
    text-align: center;
    color: #fff;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour le sous-titre "Voiture à la une" */
h2 {
    text-align: center;
    margin-top: 10%;
    font-family: "Druzhok", sans-serif;
    font-size: 150%;
    color: #ffffff;
}

/* Styles pour la flèche de défilement vers le bas */
.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    bottom: 10%;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour la section de recherche */
.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 2;
}

/* Styles pour la barre de recherche */
.search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 70%;
}

/* Styles pour le bouton de recherche */
.search-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

/* Effet de survol sur le bouton de recherche */
.search-button:hover {
    background-color: #3d3d3d;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour la section de particules en arrière-plan */
.particles-section {
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

/* Styles pour les particules */
#particles-js {
    position: absolute;
    width: 100%;
    height: 1600px;
    z-index: -1;
}

/* Ajustement de la position des particules */
#particles-js.bottom-start {
    top: calc(100% - 200px);
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour l'interface des widgets de voiture */
.car-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25%;
    background-color: rgba(0, 0, 0, 0.0);
    overflow: hidden;
}

/* Styles pour un widget de voiture individuel */
.car-widget {
    width: 30%;
    margin: 0.625%;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Effet de survol sur un widget de voiture */
.car-widget:hover {
    transform: scale(1.05);
}

/* Style de l'image à l'intérieur des widgets */
.car-widget img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #000000;
    border-radius: 0.3125%;
}

/* Styles pour la section principale de la page */
main {
    padding: 1.25%;
    background-color: #000000;
}

/* Styles globaux pour la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Euclid Circular A", "Poppins";
}

/* Ajoutez un style pour la classe de surbrillance */
.highlighted-widget {
    border: 5px solid rgb(77, 95, 255); /* ou toute autre mise en surbrillance que vous préférez */
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour le nom des voitures du swiper */
h3 {
    text-align: center;
    margin-top: 1%;
    font-size: 100%;
    color: #ffffff;
}

/* Styles pour la section du swiper contenant les voitures */
section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3.125%;
    padding: 0 3.125%;
    min-height: 35%;
    max-width: 100%;
    margin: 2 auto;
}

/* Styles pour le bouton "Explore" dans la section du swiper */
section a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ad0f0f; /*couleur texte explore*/
    font-weight: 500;
    background: #ffffff; /*couleur bouton explore*/
    border-radius: 3.125rem;
    margin: 0 auto;
    padding: 0 3.125%;
    font-size: 0.9em;
    transition: 0.3s ease-in-out;
    position: absolute;
    bottom: 1.25em;
    left: 1.25em;
}

/* Styles pour le conteneur du swiper */
.swiper {
    width: 100%;
}

/* Styles pour les points de pagination du swiper */
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

/* Styles pour la pagination du swiper */
.swiper-pagination {
    bottom: 2.125% !important;
    transform: scale(1.3);
}

/* Styles pour chaque diapositive du swiper */
.swiper-slide {
    height: 31.25%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 9.375%;
    filter: grayscale(0.6);
}

/* Styles pour le titre des voitures dans les diapositives du swiper */
.swiper-slide h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.7%;
    line-height: 2.4;
    margin-bottom: 0.625%;
    text-transform: uppercase;
    position: absolute;
    top: 0;
}

/* Effet de survol sur les liens dans les diapositives du swiper */
.swiper-slide a:hover {
    color: #005baa;
}

/* Styles pour l'élément div dans les diapositives du swiper */
.swiper-slide div {
    transition: 0.25s;
    opacity: 0;
}

/* Styles pour l'élément div actif dans les diapositives du swiper */
.swiper-slide-active div {
    opacity: 1;
}

/* Styles pour les ombres de gauche et de droite dans le mode 3D du swiper */
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* Styles pour le conteneur du swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}

/* Media query pour les écrans plus petits (max-width: 48em) */
@media only screen and (max-width: 48em) {
    /* Ajustements pour les écrans plus petits */
    .swiper-slide {
        height: 2%; /* Ajustez la hauteur pour les écrans plus petits */
        padding: 8%; /* Ajustez l'espacement interne pour les écrans plus petits */
    }

    .swiper-pagination {
        bottom: 1.5%; /* Ajustez la position de la pagination pour les écrans plus petits */
        transform: scale(1.3);
    }
}

/* Styles pour chaque diapositive du swiper avec des images spécifiques */
.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("image/Subaru Impreza WRX.jpg") no-repeat 50% 50% / cover;
    background-position: center;
}

.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("image/Nissan Skyline GTR.jpg") no-repeat 50% 50% / cover;
    background-position: center;
}

.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("image/ferrari 812 superfast.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("image/Nissan 370Z NISMO.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("image/porsche 911.jpg") no-repeat 50% 50% / cover;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour la barre de navigation en haut de la page */
.navbar {
    background-color: #000;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

/* Styles pour les liens de la barre de navigation */
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Styles pour les liens de la barre de navigation au survol */
.navbar a:hover {
    background-color: #ddd;
    color: #000;
}

/* Styles pour les boutons de la barre de navigation */
.navbar button {
    background-color: #000;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

/* Styles pour les boutons de la barre de navigation au survol */
.navbar button:hover {
    background-color: #ddd;
    color: #000;
}

/* Ajustement de la marge du dernier bouton de la barre de navigation */
.navbar button:last-child {
    margin-bottom: 20px; /* Vous pouvez ajuster cette valeur selon votre préférence */
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Media query pour les écrans plus petits (max-width: 768px) */
@media only screen and (max-width: 768px) {
    /* Ajustements pour les écrans plus petits */
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        background-color: black;
        margin: 0;
        padding: 0;
    }

    .background-image {
        height: auto;
    }

    header {
        position: relative;
        margin-top: 0;
        text-align: left;
    }

    #logo {
        width: 50%;
        height: auto;
        margin-top: 0;
    }

    h1 {
        font-size: 200%;
    }

    .scroll-down {
        bottom: 5%;
    }

    h2 {
        margin-top: 5%;
    }

    .search-container {
        flex-direction: column;
        margin-top: 10%;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
        margin-top: 2%;
        border-radius: 5px;
    }

    .car-space {
        justify-content: center;
    }

    .car-widget {
        width: 100%;
        margin: 2% 0;
    }

    section {
        padding: 5%;
    }

    section a {
        position: static;
        margin-top: 2%;
        left: auto;
        bottom: auto;
        transform: none;
    }

    .navbar {
        position: static;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 2%;
    }

    .navbar button {
        width: 100%;
        margin-bottom: 2%;
    }
    
    
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: flex;
    bottom: 0;
    width: 100%;
}
.footer-text {
    margin: 0;
    font-size: 16px;
    font-family: "Druzhok", sans-serif;
}
.white-link {
    color: white;
    text-decoration: underline;
}