@font-face {
    font-family: 'Druzhok';
    src: url("../fonts/DRUZHOK.otf"); }

body {
    background-color: black;
}
header {
    text-align: center;
    background-image: url("../image/jdm2-car-simple-background-mazda-rx-7-wallpaper-preview.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 175px ;
}
header h1 { 
    font-family: "Druzhok", sans-serif;
    color:red;
    font-size: 500%;
}
.logo { 
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.2);

}
.logo img {
    max-width: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Euclid Circular A", "Poppins";
  }
  
  section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
    min-height: 100vh;
    max-width: 90vw;
    margin: 0 auto;
  }
  
 section a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 3.125rem;
    margin: 0 auto;
    padding: 6px 26px;
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .swiper {
    width: 100%;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper-pagination {
    bottom: 34px !important;
    transform: scale(1.3);
  }
  
  .swiper-slide {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 150px;
    filter: grayscale(0.6);
  }
  
  .swiper-slide h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.4;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
    position: absolute;
    top: 0;
  }
  
  .swiper-slide a:hover {
    color: #005baa;

  }
  
  .swiper-slide div {
    transition: 0.25s;
    opacity: 0;
  }
  
  .swiper-slide-active div {
    opacity: 1;
  }
  
  .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../image/Subaru\ Impreza\ WRX.jpg") no-repeat 50% 50% / cover;
      background-position: center;
  }
  
  .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../image/Nissan\ Skyline\ GT-Rjpg.jpg") no-repeat 50% 50% / cover;
    background-position: center;
  }
  
  .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../image/Jaguar\ XJ13.jpg") no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../image/Nissan 370Z NISMO.jpg") no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../image/Porsche 911.jpg") no-repeat 50% 50% / cover;
  }
  
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }